# Compiled output
dist
tmp
out-tsc
bazel-out

# Node
node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
.angular
.sass-cache/
connect.lock
coverage
libpeerconnection.log
testem.log
typings

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.production

# Json files
src/assets/json/maandag-personeel.json
src/assets/json/dinsdag-personeel.json
src/assets/json/woensdag-personeel.json
src/assets/json/donderdag-personeel.json
src/assets/json/vrijdag-personeel.json
src/assets/json/zaderdag-personeel.json
src/assets/json/zondag-personeel.json
